<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neppplus.jickbangcopy_20210820">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jikbang"
        android:label="직방카피"
        android:roundIcon="@mipmap/ic_jikbang_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JickbangCopy_20210820">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".ViewRoomDeatailActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>